Analysis of intensity: Using available data, has there a change in intensity since 1851?

In [1]:
# Add the dependencies.
import json
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import os
import re

from sqlalchemy import create_engine
import psycopg2

# from config import db_password

import time

In [2]:
# File to load
atlantic = os.path.join("C:/Users/Carlos/BootCamp/Final_Project/Resources", "Hurricanes_Typhoons_1851_2014_Atlantic.csv")

# Read the school data file and store it in a Pandas DataFrame.
#atlantic_df = pd.read_csv(atlantic, index_col=False)
#atlantic_df.set_index('ID', inplace=True)
atlantic_df = pd.read_csv(atlantic)
# show df using .
atlantic_df.sample(10)

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
1208,AL061863,UNNAMED,18630917,600,,TS,27.8N,79.3W,60,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
19899,AL081942,UNNAMED,19421001,1800,,TS,26.6N,69.1W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
40298,AL041998,DANIELLE,19980906,600,,EX,51.5N,18.0W,55,965,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
44644,AL012006,ALBERTO,20060615,600,,EX,38.8N,69.9W,45,990,...,100,60,0,0,0,0,0,0,0,0
31799,AL131975,ELOISE,19750916,600,,TS,19.2N,66.7W,45,1007,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
27311,AL041965,CAROL,19650927,0,,HU,32.6N,41.5W,65,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
24158,AL081955,IONE,19550913,1800,,TS,16.1N,59.3W,40,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
21051,AL041947,UNNAMED,19470917,1800,,HU,26.1N,80.4W,105,951,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
16855,AL021933,UNNAMED,19330626,1800,,TS,9.3N,54.8W,50,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
33774,AL061980,BONNIE,19800816,600,,HU,23.7N,38.9W,85,975,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

Start preparing data to be entered into the DB

In [3]:
# Check if there are any missing values
atlantic_df.count()

ID                  49105
Name                49105
Date                49105
Time                49105
Event               49105
Status              49105
Latitude            49105
Longitude           49105
Maximum Wind        49105
Minimum Pressure    49105
Low Wind NE         49105
Low Wind SE         49105
Low Wind SW         49105
Low Wind NW         49105
Moderate Wind NE    49105
Moderate Wind SE    49105
Moderate Wind SW    49105
Moderate Wind NW    49105
High Wind NE        49105
High Wind SE        49105
High Wind SW        49105
High Wind NW        49105
dtype: int64

In [4]:
# i created AL_WR_df to exclude wind radii data w/ -999 values to confirm data follows PDF data description: 
# "Wind Radii – These values have been best tracked since 2004 and are thus available here from that year forward 
# with a resolution to the nearest 5 nm"
AL_WR_df = atlantic_df[atlantic_df['High Wind NE'] != -999]
  
AL_WR_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
43104,AL012004,ALEX,20040731,1800,,TD,30.3N,78.3W,25,1010,...,0,0,0,0,0,0,0,0,0,0
43105,AL012004,ALEX,20040801,0,,TD,31.0N,78.8W,25,1009,...,0,0,0,0,0,0,0,0,0,0
43106,AL012004,ALEX,20040801,600,,TD,31.5N,79.0W,25,1009,...,0,0,0,0,0,0,0,0,0,0
43107,AL012004,ALEX,20040801,1200,,TD,31.6N,79.1W,30,1009,...,0,0,0,0,0,0,0,0,0,0
43108,AL012004,ALEX,20040801,1800,,TS,31.6N,79.2W,35,1009,...,50,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981,...,180,120,120,120,60,0,0,0,0,0
49101,AL122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983,...,180,120,120,120,60,0,0,0,0,0
49102,AL122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985,...,200,220,120,120,60,0,0,0,0,0
49103,AL122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985,...,180,220,0,0,0,0,0,0,0,0
49104,AL122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987,...,150,220,0,0,0,0,0,0,0,0

In [5]:
# confirming there is no data available < 01-01-2004
len(AL_WR_df[AL_WR_df['Date']<20040101])

0

In [6]:
# I wanted to see how many records would be impacted by missing wind radii data.
# Based on PDF, I selected Low Wind NE to find count as there wouldnt be records with partial wind radii data
atlantic_df['Low Wind NE'].value_counts()

-999    43184
 0       2084
 60       364
 90       304
 120      285
        ...
 195        1
 280        1
 165        1
 620        1
 710        1
Name: Low Wind NE, Length: 65, dtype: int64

In [7]:
# 43184 records missing Wind Radii data. 5921 records with specific wind data and all data is post year 2004. 
# Need to analyze historical data therefore created AL_Hurricane_df to drop all Wind Radii columns.

AL_Hurricane_df = atlantic_df.drop(columns=["Low Wind NE", "Low Wind SE", "Low Wind SW", "Low Wind NW",
                                            "Moderate Wind NE","Moderate Wind SE","Moderate Wind SW","Moderate Wind NW",
                                            "High Wind NE","High Wind SE","High Wind SW","High Wind NW"])
AL_Hurricane_df.sample(10)

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
4536,AL041883,UNNAMED,18831027,0,,EX,45.7N,40.4W,70,-999
5516,AL091887,UNNAMED,18870913,1800,,HU,14.1N,66.2W,80,-999
28050,AL131967,BEULAH,19670917,1200,,HU,21.0N,88.5W,85,-999
33302,AL081979,UNNAMED,19790806,1200,,TD,48.5N,45.0W,20,-999
9122,AL061899,UNNAMED,18991004,600,,TS,26.5N,87.2W,50,-999
43152,AL022004,BONNIE,20040809,600,,TD,22.0N,86.6W,30,1008
40655,AL131998,MITCH,19981108,600,,EX,48.5N,31.0W,60,972
46571,AL112010,IGOR,20100913,1800,,HU,17.6N,50.2W,125,937
23857,AL141954,HAZEL,19541016,0,,EX,40.2N,77.2W,70,-999
28647,AL121968,FRANCES,19680928,0,,TS,34.7N,63.7W,50,-999

In [8]:
# Maximum wind to be main determiner for intenstity of storms.
# Per PDF: Maximum sustained surface wind: This is defined as the maximum 1-min average wind associated with the 
# tropical cyclone at an elevation of 10 m with an unobstructed exposure. Values are given to the nearest 10 kt 
# for the years 1851 through 1885 and to the nearest 5 kt from 1886 onward. A value is assigned for every cyclone 
# at every best track time. Note that the non-developing tropical depressions of 1967 did not have intensities assigned
# to them in the b-decks. These are indicated as “-99” currently.

# Count number of -99 values for Maximum Wind. 
AL_Hurricane_df['Maximum Wind'].value_counts()

 30     5900
 40     4582
 35     4515
 25     4432
 50     4225
 45     3413
 60     3016
 70     2875
 55     2124
 65     2098
 80     1838
 90     1634
 85     1485
 75     1442
 20     1237
 100     773
 95      669
 105     652
 110     508
-99      338
 115     318
 120     300
 15      193
 125     173
 130     112
 140      64
 10       61
 135      56
 145      30
 150      26
 155       9
 160       5
 165       1
 32        1
Name: Maximum Wind, dtype: int64

In [9]:
# Based on above counts there are 338 records with maximum wind missing. Created new DF to see what kind of data is
# associated with records w/ -99 maximum wind.
AL_MW_df = AL_Hurricane_df[AL_Hurricane_df['Maximum Wind'] == -99]
AL_MW_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
27768,AL011967,UNNAMED,19670610,1200,,TD,18.0N,85.0W,-99,-999
27769,AL011967,UNNAMED,19670610,1800,,TD,18.0N,85.2W,-99,-999
27770,AL011967,UNNAMED,19670611,0,,TD,18.0N,85.5W,-99,-999
27771,AL011967,UNNAMED,19670611,600,,TD,18.0N,85.8W,-99,-999
27772,AL011967,UNNAMED,19670611,1200,,TD,17.9N,86.0W,-99,-999
...,...,...,...,...,...,...,...,...,...,...
35746,AL041986,UNNAMED,19860805,1800,,TD,28.0N,97.8W,-99,-999
35848,AL071986,UNNAMED,19860904,1200,,TD,22.9N,99.0W,-99,-999
36142,AL081987,UNNAMED,19870908,1800,,TD,14.0N,83.9W,-99,-999
36148,AL091987,UNNAMED,19870908,600,,TD,34.8N,78.5W,-99,-999
36149,AL091987,UNNAMED,19870908,1200,,TD,36.0N,78.5W,-99,-999

In [10]:
# Count number of -99 values for Minimum Pressure. 
AL_MW_df['Minimum Pressure'].value_counts()

-999    338
Name: Minimum Pressure, dtype: int64

In [11]:
# Count status column values
AL_MW_df['Status'].value_counts()

 TD    338
Name: Status, dtype: int64

In [12]:
# Count event column values
AL_MW_df['Event'].value_counts()

      338
Name: Event, dtype: int64

In [13]:
# Based on above counts for Minimum Pressure, Status and Event, there are 338 TD (Tropical depression) records with 
# maximum wind missing.
# Due to small sample size, I dropped the records

AL_Hurricane_df = AL_Hurricane_df[AL_Hurricane_df['Maximum Wind'] != -99]
AL_Hurricane_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999
...,...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981
49101,AL122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983
49102,AL122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985
49103,AL122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985
49104,AL122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987

In [14]:
# See missing Minimum Pressure values, want to confirm count.
AL_Hurricane_df['Minimum Pressure'].value_counts()

-999     30331
 1005      883
 1008      846
 1006      808
 1009      800
         ...
 902         1
 899         1
 889         1
 888         1
 907         1
Name: Minimum Pressure, Length: 130, dtype: int64

In [15]:
# Based on above counts there are 30331 records with Minimum Pressure missing. Created new DF to see what kind of 
# data is associated with records w/ -999 Minimum Pressure.
AL_MP_df = AL_Hurricane_df[AL_Hurricane_df['Minimum Pressure'] != -999]
AL_MP_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
127,AL011852,UNNAMED,18520826,600,L,HU,30.2N,88.6W,100,961
252,AL031853,UNNAMED,18530903,1200,,HU,19.7N,56.2W,130,924
346,AL031854,UNNAMED,18540907,1200,,HU,28.0N,78.6W,110,938
351,AL031854,UNNAMED,18540908,1800,,HU,31.6N,81.1W,100,950
352,AL031854,UNNAMED,18540908,2000,L,HU,31.7N,81.1W,100,950
...,...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981
49101,AL122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983
49102,AL122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985
49103,AL122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985
49104,AL122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987

In [16]:
# According to SECOORD (Southeast Coastal Ocean Observing Regional Association), lower central pressure creates a 
# stronger gradient from outside to inside the system.  The stronger this pressure gradient is, the greater the 
# maximum wind speeds around the eye wall (https://secoora.org/hurricane_glossary/)

# Our PDF states that the Minimum Pressure column is the Central Pressure. These values are given to the nearest 
# millibar. Originally, central pressure best track values were only included if there was a specific
# observation that could be used explicitly. Missing central pressure values are noted as “-999”. 

# Based on this data I removed the -999 values from Minimum Pressure
AL_Hurricane_df = AL_Hurricane_df[AL_Hurricane_df['Minimum Pressure'] != -999]
AL_Hurricane_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
127,AL011852,UNNAMED,18520826,600,L,HU,30.2N,88.6W,100,961
252,AL031853,UNNAMED,18530903,1200,,HU,19.7N,56.2W,130,924
346,AL031854,UNNAMED,18540907,1200,,HU,28.0N,78.6W,110,938
351,AL031854,UNNAMED,18540908,1800,,HU,31.6N,81.1W,100,950
352,AL031854,UNNAMED,18540908,2000,L,HU,31.7N,81.1W,100,950
...,...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981
49101,AL122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983
49102,AL122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985
49103,AL122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985
49104,AL122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987

In [17]:
# check data types
AL_Hurricane_df.dtypes

ID                  object
Name                object
Date                 int64
Time                 int64
Event               object
Status              object
Latitude            object
Longitude           object
Maximum Wind         int64
Minimum Pressure     int64
dtype: object

In [18]:
# I have 18,436 records with siginifcant data. I now need to complete cleaning the df to prepare for ML
# Need ID column, but its an object cause first two values are letters. Per PDF, AL means atlantic basin. Since
# we know we are only workng with atlanic ocean hurricanes, we will replace letters with "", meaning we will remove the 
# values from the column. The rest of the ID works as explained in PDF:
# AL (Spaces 1 and 2) – Basin – Atlantic -> THIS IS REMOVED WITH REPLACE METHOD
# 09 (Spaces 3 and 4) – ATCF cyclone number for that year -> THIS IS KEPT FOR ID
# 2011 (Spaces 5-8, before first comma) – Year -> THIS IS KEPT FOR ID
AL_Hurricane_df["ID"] = AL_Hurricane_df["ID"].str.replace("AL","")
AL_Hurricane_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
127,011852,UNNAMED,18520826,600,L,HU,30.2N,88.6W,100,961
252,031853,UNNAMED,18530903,1200,,HU,19.7N,56.2W,130,924
346,031854,UNNAMED,18540907,1200,,HU,28.0N,78.6W,110,938
351,031854,UNNAMED,18540908,1800,,HU,31.6N,81.1W,100,950
352,031854,UNNAMED,18540908,2000,L,HU,31.7N,81.1W,100,950
...,...,...,...,...,...,...,...,...,...,...
49100,122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981
49101,122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983
49102,122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985
49103,122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985
49104,122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987

In [19]:
# Removed the AL prefix but its still an object, change format using to number
AL_Hurricane_df["ID"] = pd.to_numeric(AL_Hurricane_df["ID"])
AL_Hurricane_df.dtypes

ID                   int64
Name                object
Date                 int64
Time                 int64
Event               object
Status              object
Latitude            object
Longitude           object
Maximum Wind         int64
Minimum Pressure     int64
dtype: object

In [20]:
# Name to be left as is for now, but I want to create new columns for date Year, Month Day, this could be useful later
# for visualization purposes. To do this I make string version of the Date column and replace the int64 column with
# the string one
AL_Hurricane_df['Date'] = AL_Hurricane_df['Date'].astype(str)

In [21]:
# With the column now a string I can easily make new year, month and day columns
AL_Hurricane_df['Year'] = AL_Hurricane_df['Date'].str[0:4]
AL_Hurricane_df['Month'] = AL_Hurricane_df['Date'].str[4:6]
AL_Hurricane_df['Day'] = AL_Hurricane_df['Date'].str[6:9]
AL_Hurricane_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Year,Month,Day
127,11852,UNNAMED,18520826,600,L,HU,30.2N,88.6W,100,961,1852,08,26
252,31853,UNNAMED,18530903,1200,,HU,19.7N,56.2W,130,924,1853,09,03
346,31854,UNNAMED,18540907,1200,,HU,28.0N,78.6W,110,938,1854,09,07
351,31854,UNNAMED,18540908,1800,,HU,31.6N,81.1W,100,950,1854,09,08
352,31854,UNNAMED,18540908,2000,L,HU,31.7N,81.1W,100,950,1854,09,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981,2015,11,12
49101,122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983,2015,11,12
49102,122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985,2015,11,13
49103,122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985,2015,11,13
49104,122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987,2015,11,13

In [22]:
# ensure that new columns as well as latitude and longitude are transformed into numeric values
AL_Hurricane_df["Year"] = pd.to_numeric(AL_Hurricane_df["Year"])
AL_Hurricane_df["Month"] = pd.to_numeric(AL_Hurricane_df["Month"])
AL_Hurricane_df["Day"] = pd.to_numeric(AL_Hurricane_df["Day"])

# ensure that new columns are transformed into int64
AL_Hurricane_df.dtypes

ID                   int64
Name                object
Date                object
Time                 int64
Event               object
Status              object
Latitude            object
Longitude           object
Maximum Wind         int64
Minimum Pressure     int64
Year                 int64
Month                int64
Day                  int64
dtype: object

In [23]:
# latitude and Longitude have cardinal directions instead of (+/-). Per Pacific Islands Ocean Observing System 
# (PacIOOS): Latitude and longitude, respectively: each represented as a decimal number. Note that negative latitudes 
# represent the southern hemisphere, and negative longitudes represent the western hemisphere. 
# https://bit.ly/3TuicRR

# Check to see if there is any values with a S in the Latitude.
lat_search = AL_Hurricane_df.loc[AL_Hurricane_df['Latitude'].str.contains("S", case=False)]
lat_search

Empty DataFrame
Columns: [ID, Name, Date, Time, Event, Status, Latitude, Longitude, Maximum Wind, Minimum Pressure, Year, Month, Day]
Index: []

In [24]:
# Once confirmed, there is no "S" value in Latitude column I replace N value with "" (nothing) and leave it as is as 
# as all values are positive (N = Northern Hemisphere)
AL_Hurricane_df['Latitude'] = AL_Hurricane_df['Latitude'].str.replace("N","")
AL_Hurricane_df["Latitude"] = pd.to_numeric(AL_Hurricane_df["Latitude"])
AL_Hurricane_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Year,Month,Day
127,11852,UNNAMED,18520826,600,L,HU,30.2,88.6W,100,961,1852,8,26
252,31853,UNNAMED,18530903,1200,,HU,19.7,56.2W,130,924,1853,9,3
346,31854,UNNAMED,18540907,1200,,HU,28.0,78.6W,110,938,1854,9,7
351,31854,UNNAMED,18540908,1800,,HU,31.6,81.1W,100,950,1854,9,8
352,31854,UNNAMED,18540908,2000,L,HU,31.7,81.1W,100,950,1854,9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,122015,KATE,20151112,1200,,EX,41.3,50.4W,55,981,2015,11,12
49101,122015,KATE,20151112,1800,,EX,41.9,49.9W,55,983,2015,11,12
49102,122015,KATE,20151113,0,,EX,41.5,49.2W,50,985,2015,11,13
49103,122015,KATE,20151113,600,,EX,40.8,47.5W,45,985,2015,11,13
49104,122015,KATE,20151113,1200,,EX,40.7,45.4W,45,987,2015,11,13

In [25]:
AL_Hurricane_df.dtypes

ID                    int64
Name                 object
Date                 object
Time                  int64
Event                object
Status               object
Latitude            float64
Longitude            object
Maximum Wind          int64
Minimum Pressure      int64
Year                  int64
Month                 int64
Day                   int64
dtype: object

In [26]:
# Check to see if there is any values with a W in the Latitude.
Long_W_df = AL_Hurricane_df.loc[AL_Hurricane_df['Longitude'].str.contains("W", case=False)]
Long_W_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Year,Month,Day
127,11852,UNNAMED,18520826,600,L,HU,30.2,88.6W,100,961,1852,8,26
252,31853,UNNAMED,18530903,1200,,HU,19.7,56.2W,130,924,1853,9,3
346,31854,UNNAMED,18540907,1200,,HU,28.0,78.6W,110,938,1854,9,7
351,31854,UNNAMED,18540908,1800,,HU,31.6,81.1W,100,950,1854,9,8
352,31854,UNNAMED,18540908,2000,L,HU,31.7,81.1W,100,950,1854,9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,122015,KATE,20151112,1200,,EX,41.3,50.4W,55,981,2015,11,12
49101,122015,KATE,20151112,1800,,EX,41.9,49.9W,55,983,2015,11,12
49102,122015,KATE,20151113,0,,EX,41.5,49.2W,50,985,2015,11,13
49103,122015,KATE,20151113,600,,EX,40.8,47.5W,45,985,2015,11,13
49104,122015,KATE,20151113,1200,,EX,40.7,45.4W,45,987,2015,11,13

In [27]:
# Since Long_W_df only has Western hemisphere values, I remove the W.
Long_W_df['Longitude'] = Long_W_df['Longitude'].str.replace("W","")
# Then change to numeric
Long_W_df["Longitude"] = pd.to_numeric(Long_W_df["Longitude"])
Long_W_df.dtypes

ID                    int64
Name                 object
Date                 object
Time                  int64
Event                object
Status               object
Latitude            float64
Longitude           float64
Maximum Wind          int64
Minimum Pressure      int64
Year                  int64
Month                 int64
Day                   int64
dtype: object

In [28]:
# Since the value is now numeric, I can use a lambda function to multiple all values by -1. This negative number 
# makes the value represent the western hemisphere per PacIOOS
Long_W_df['Longitude'] = Long_W_df['Longitude'].apply(lambda x: x*-1)
Long_W_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Year,Month,Day
127,11852,UNNAMED,18520826,600,L,HU,30.2,-88.6,100,961,1852,8,26
252,31853,UNNAMED,18530903,1200,,HU,19.7,-56.2,130,924,1853,9,3
346,31854,UNNAMED,18540907,1200,,HU,28.0,-78.6,110,938,1854,9,7
351,31854,UNNAMED,18540908,1800,,HU,31.6,-81.1,100,950,1854,9,8
352,31854,UNNAMED,18540908,2000,L,HU,31.7,-81.1,100,950,1854,9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,122015,KATE,20151112,1200,,EX,41.3,-50.4,55,981,2015,11,12
49101,122015,KATE,20151112,1800,,EX,41.9,-49.9,55,983,2015,11,12
49102,122015,KATE,20151113,0,,EX,41.5,-49.2,50,985,2015,11,13
49103,122015,KATE,20151113,600,,EX,40.8,-47.5,45,985,2015,11,13
49104,122015,KATE,20151113,1200,,EX,40.7,-45.4,45,987,2015,11,13

In [29]:
# Now i create a new Long_E_df to clean up the remaining 23 records.
Long_E_df = AL_Hurricane_df.loc[AL_Hurricane_df['Longitude'].str.contains("E", case=False)]
Long_E_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Year,Month,Day
28001,121967,CHLOE,19670921,1800,,EX,45.1,1.5E,35,996,1967,9,21
35801,51986,CHARLEY,19860826,1800,,EX,54.3,2.0E,45,986,1986,8,26
35802,51986,CHARLEY,19860827,0,,EX,55.0,3.7E,45,984,1986,8,27
35803,51986,CHARLEY,19860827,600,,EX,55.5,5.0E,45,983,1986,8,27
35804,51986,CHARLEY,19860827,1200,,EX,56.0,5.8E,35,985,1986,8,27
35805,51986,CHARLEY,19860827,1800,,EX,56.3,6.0E,35,989,1986,8,27
35806,51986,CHARLEY,19860828,0,,EX,56.6,6.0E,35,989,1986,8,28
35807,51986,CHARLEY,19860828,600,,EX,56.8,6.0E,35,991,1986,8,28
35808,51986,CHARLEY,19860828,1200,,EX,57.0,6.0E,30,998,1986,8,28
35809,51986,CHARLEY,19860828,1800,,EX,57.0,5.5E,30,999,1986,8,28
35810,51986,CHARLEY,19860829,0,,EX,57.0,5.0E,25,1002,1986,8,29
35811,51986,CHARLEY,19860829,600,,EX,56.8,5.0E,20,1004,1986,8,29
35812,51986,CHARLEY,19860829,1200,,EX,56.5,5.0E,20,1004,1986,8,29
35813,51986,CHARLEY,19860829,1800,,EX,56.2,6.0E,15,1004,1986,8,29
35814,51986,CHARLEY,19860830,0,,EX,56.2,8.0E,15,1006,1986,8,30
39897,121996,LILI,19961029,0,,EX,54.0,1.0E,55,976,1996,10,29
43596,122004,KARL,20040927,0,,EX,64.0,2.5E,55,980,2004,9,27
43597,122004,KARL,20040927,600,,EX,64.5,7.0E,45,980,2004,9,27
43598,122004,KARL,20040927,1200,,EX,65.0,10.5E,40,986,2004,9,27
43599,122004,KARL,20040927,1800,,EX,65.3,12.0E,35,989,2004,9,27
43600,122004,KARL,20040928,0,,EX,65.5,13.5E,30,992,2004,9,28
44270,162005,OPHELIA,20050922,1800,,EX,67.5,1.9E,30,995,2005,9,22
44271,162005,OPHELIA,20050923,0,,EX,68.8,6.6E,30,997,2005,9,23

In [30]:
# Since Long_E_df now only has Eastern hemisphere values, I can remove the E and change to numeric.
Long_E_df['Longitude'] = Long_E_df['Longitude'].str.replace("E","")
# Change to numeric, since Eastern hemishere values are positive, no further manipulation is needed.
Long_E_df["Longitude"] = pd.to_numeric(Long_E_df["Longitude"])
Long_E_df.dtypes

ID                    int64
Name                 object
Date                 object
Time                  int64
Event                object
Status               object
Latitude            float64
Longitude           float64
Maximum Wind          int64
Minimum Pressure      int64
Year                  int64
Month                 int64
Day                   int64
dtype: object

In [31]:
# Now that i have two datasets, i concatenate to get both df back together
AL_Hurricane_df = pd.concat([Long_W_df, Long_E_df], axis=0)
# Reorganize based on ID number
AL_Hurricane_df = AL_Hurricane_df.sort_values('ID', ascending=True)
AL_Hurricane_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Year,Month,Day
127,11852,UNNAMED,18520826,600,L,HU,30.2,-88.6,100,961,1852,8,26
434,11856,UNNAMED,18560810,1800,L,HU,29.2,-91.1,130,934,1856,8,10
1982,11871,UNNAMED,18710604,700,L,TS,29.1,-95.1,50,999,1871,6,4
1981,11871,UNNAMED,18710604,600,,TS,28.9,-95.0,50,999,1871,6,4
2841,11876,UNNAMED,18760909,1800,,HU,40.7,-59.3,80,970,1876,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45018,312005,ZETA,20060107,600,,LO,24.2,-52.7,25,1012,2006,1,7
45019,312005,ZETA,20060107,1200,,LO,24.8,-54.2,25,1014,2006,1,7
45020,312005,ZETA,20060107,1800,,LO,26.3,-55.7,25,1016,2006,1,7
45008,312005,ZETA,20060104,1800,,TS,21.7,-44.6,40,1002,2006,1,4
44621,312005,ZETA,20051231,1200,,TS,25.7,-37.9,50,997,2005,12,31

In [32]:
# Remaining columns that need to be updated are Event and Status
# per PDF, the Event coulmn has string values reperesenting events
# Event:
# blank - no event (0)
# C – Closest approach to a coast, not followed by a landfall ()
# G – Genesis (birth of hurricane)
# I – An intensity peak in terms of both pressure and wind
# L – Landfall (center of system crossing a coastline)
# P – Minimum in central pressure
# R – Provides additional detail on the intensity of the cyclone when rapid changes are underway
# S – Change of status of the system
# T – Provides additional detail on the track (position) of the cyclone
# W – Maximum sustained wind speed

# Status:
# LO – A low that is neither a tropicalor subtropical cyclone or extratropical cyclone (of any intensity)
# TD – Tropical cyclone of tropical depression intensity (< 34 knots)
# TS – Tropical cyclone of tropical storm intensity (34-63 knots)
# HU – Tropical cyclone of hurricane intensity (> 64 knots)
# EX – Extratropical cyclone (of any intensity)
# SD – Subtropical cyclone of subtropical depression intensity (< 34 knots)
# SS – Subtropical cyclone of subtropical storm intensity (> 34 knots)
# WV – Tropical Wave (of any intensity)
# DB – Disturbance (of any intensity)

# Not sure i can categorize or easily replace these text values with numerical numbers, so I will just replace blanks
# with 'NaN'
AL_Hurricane_df = AL_Hurricane_df.replace(r'^\s*$', np.nan, regex=True)
AL_Hurricane_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Year,Month,Day
127,11852,UNNAMED,18520826,600,L,HU,30.2,-88.6,100,961,1852,8,26
434,11856,UNNAMED,18560810,1800,L,HU,29.2,-91.1,130,934,1856,8,10
1982,11871,UNNAMED,18710604,700,L,TS,29.1,-95.1,50,999,1871,6,4
1981,11871,UNNAMED,18710604,600,NaN,TS,28.9,-95.0,50,999,1871,6,4
2841,11876,UNNAMED,18760909,1800,NaN,HU,40.7,-59.3,80,970,1876,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45018,312005,ZETA,20060107,600,NaN,LO,24.2,-52.7,25,1012,2006,1,7
45019,312005,ZETA,20060107,1200,NaN,LO,24.8,-54.2,25,1014,2006,1,7
45020,312005,ZETA,20060107,1800,NaN,LO,26.3,-55.7,25,1016,2006,1,7
45008,312005,ZETA,20060104,1800,NaN,TS,21.7,-44.6,40,1002,2006,1,4
44621,312005,ZETA,20051231,1200,NaN,TS,25.7,-37.9,50,997,2005,12,31

In [33]:
AL_Hurricane_df['Event'].value_counts()

 L    552
 I     27
 P      9
 S      7
 T      5
 C      5
 W      4
 R      3
 G      1
Name: Event, dtype: int64

In [34]:
AL_Hurricane_df = AL_Hurricane_df.drop(columns=["Date"])
# AL_Hurricane_df = AL_Hurricane_df.set_index('ID')
AL_Hurricane_df = AL_Hurricane_df[["ID","Name","Year","Month","Day","Time","Status","Event","Latitude","Longitude","Maximum Wind","Minimum Pressure"]]
AL_Hurricane_df

,ID,Name,Year,Month,Day,Time,Status,Event,Latitude,Longitude,Maximum Wind,Minimum Pressure
127,11852,UNNAMED,1852,8,26,600,HU,L,30.2,-88.6,100,961
434,11856,UNNAMED,1856,8,10,1800,HU,L,29.2,-91.1,130,934
1982,11871,UNNAMED,1871,6,4,700,TS,L,29.1,-95.1,50,999
1981,11871,UNNAMED,1871,6,4,600,TS,NaN,28.9,-95.0,50,999
2841,11876,UNNAMED,1876,9,9,1800,HU,NaN,40.7,-59.3,80,970
...,...,...,...,...,...,...,...,...,...,...,...,...
45018,312005,ZETA,2006,1,7,600,LO,NaN,24.2,-52.7,25,1012
45019,312005,ZETA,2006,1,7,1200,LO,NaN,24.8,-54.2,25,1014
45020,312005,ZETA,2006,1,7,1800,LO,NaN,26.3,-55.7,25,1016
45008,312005,ZETA,2006,1,4,1800,TS,NaN,21.7,-44.6,40,1002
44621,312005,ZETA,2005,12,31,1200,TS,NaN,25.7,-37.9,50,997

In [55]:
AL_Hurricane_df['Name'].str.len()

127      19
434      19
1982     19
1981     19
2841     19
         ..
45018    19
45019    19
45020    19
45008    19
44621    19
Name: Name, Length: 18436, dtype: int64

In [56]:
AL_Hurricane_df['Status'].astype(str).str.len()

127      3
434      3
1982     3
1981     3
2841     3
        ..
45018    3
45019    3
45020    3
45008    3
44621    3
Name: Status, Length: 18436, dtype: int64

In [48]:
AL_Hurricane_df['Event'].astype(str).str.len()

127      2
434      2
1982     2
1981     3
2841     3
        ..
45018    3
45019    3
45020    3
45008    3
44621    3
Name: Event, Length: 18436, dtype: int64

Import clean data to the DB

In [57]:
from sqlalchemy import create_engine
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"
engine = create_engine(db_string)

In [59]:
AL_Hurricane_df.to_sql(name='AL_Hurricane', con=engine)

436